@import "compass/css3";
@import "compass/utilities";

/* Variables */
$spotipi-green-opaque: 	rgba(132, 189, 0, 0.95);
$spotipi-green: 		rgb(132, 189, 0);
$border-grey: 			#636363;
$white: 				#fff;
$std-font: 				'Nunito', sans-serif; 
$error-red:				#780000;

/**
 * Styles the placeholder text colour using vendor prefixes
 **/
@mixin placeholderText ($color) {

    $color: lighten($color, 25%);

    &::-webkit-input-placeholder{
        color: $color;
    }
    &:-moz-placeholder{
        color: $color;
    }
    &::-moz-placeholder{
        color: $color;
    }
    &:-ms-input-placeholder{
        color: $color;
    }
}

// * {
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	-o-user-select: none;
// 	user-select: none;
// }

a, button {
	cursor: pointer;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #333333;
	color: #fff;
	font-family: $std-font;
	font-weight: 300;
	overflow: hidden;
}

header {
	position: relative;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

	h1 {
		margin: 0px;
		padding: 14px 0px 0px 12px;
		border-top: 3px solid spotipi-green;
		text-align: left;
		font-size: 28px;
		span {
			color: rgb(132, 189, 0);
			font-style: italic;
		}	
	}
	&.disabled{
		h1, a {
			opacity: 0.3;	
		}
	}

	a {
		font-size: 25px;
		position: absolute;
		top: 22px;
		right: 55px;
		&:last-child {
			left: auto;
			right: 13px;
		}
		&.disabled {
			opacity: 0.3;
			cursor: not-allowed !important;
		}
	}

	a.rooms {
		position:absolute;
		width:120px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 25px;
		font-size: 0.9em;
		text-align: center;
		letter-spacing: 0.5px;
		span {
			padding: 0px;
			display: inline-block;
			font-size: 0.6em;
		}
	}
}

button {
	outline: none;
	border: none;
	font-family: $std-font;
	text-transform: uppercase;
	font-size: 1em;
	border-radius: 20px;
	padding: 10px;
	display: inline-block;
	span {
		display: inline-block;
		margin: 0px 8px 0px 0px;
	}
	&.standard {
		margin: 0px auto 0px auto;
		width: 100%;
		background-color: $spotipi-green;
		color: $white;
	}
	&.disabled {
		background-color: $border-grey;
		opacity: 0.8;
		span {
			display: none;
		}
	}
}

#container { 
	margin: 0px auto 0px auto;
	overflow: none;
}

#rooms {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 9px;
	width: 100%;
	ul {
		margin-bottom: 20px;
		li {
			list-style-type: none;
			border: 3px solid $border-grey;
			min-height: 70px;
			padding: 6px;
			margin-bottom: 10px;
			section {
				padding: 0px;
				font-size: 0.9em;
				margin-top: 5px;
				min-height: 50px;
				background-position: center right;
				background-size: 40px 40px;
				background-repeat: no-repeat;
				background-opacity: 0.2;
				padding: 0px;
				p{
					padding: 0px;
					margin: 0px;
				}
				&.paused {
					opacity: 0.4;
				}
			}
			label {
				font-style: italic;
			}
			span {
				float: right;
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
}

#artwork {
	padding: 0px;
	position: absolute;
	top:65px;
	bottom: 55px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	h2, 
	h3 {
		margin: 0px 0px 0px 0px; 
		padding: 8px;
		// display: table;
		color: #fff;

	}

	h2 {
		font-size: 28px;
		// background-color: $spotipi-green;
		border-top: 3px solid $spotipi-green;
		background-color: rgba(0, 0, 0, 0.75);
		
	}
	h3 {
		border-top: 1px solid #333;
		border-bottom: 2px solid #fff;
		clear: both;
		font-size: 21px;
		background-color: rgba(0, 0, 0, 0.65);
		margin-top: 0px;
		font-weight: 200;
		font-style: italic;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	span {
		display: none;
	}

	.cover {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 10px;
		display: block;
		height: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
	}

	&.disabled {
		background-color: #999;
		background-image: none;

		h2, h3 {
			display: none;
		}

		span {
			position: relative;
			height: 100%;
			color: #666;
			text-align: center;
			text-shadow: 1px 1px 0px #ddd;			
			width: 100%;
			font-size: 14em;
			padding-left:30px;
			display: block;
			box-sizing: border-box;

			&:before {
				height: auto;
				position: relative;
  				top: 25%;
  				transform: translateY(-25%);
			}
		}
	}
}

ul {
	margin: 0px;
	padding: 0px;
}

.modal {
	position: absolute;
	top: 60px;
	width: 100%;
	height: calc(100% - 60px);
	background-color: #333;
	left: 0px;
	transition: top 0.2s ease-in-out;
	z-index: 100;
	overflow-y: scroll;
	overflow-x: hidden;

	&.hidden {
		top: 100%;
	}
}

#playlist,
#search {
	display: block;
	text-align: center;
	ul:not(.no-border) {
		li {
			text-align: left;
			font-size: 16px;
			width: 100%;
			padding: 11px;
			list-style-type: none;
			margin: 0px;
			border-bottom: 1px solid $border-grey;
			&.subtitle {
				color: #fff;
				font-weight: 400;
				&:not(.disabled) {
					border-bottom-color: $spotipi-green;
				}
				&:before{
					display:inline-block;
					position:absolute;
					right: 12px;
				}
			}
			&.disabled {
				color: #666;
				&:after {
					float: right;
					content: "No results";
					padding-right:23px;
					opacity: 0.7;
				}
				&.subtitle:before{
					display:none;
				}
			}
			&:last-child {
				border-bottom: none;
			}
			a {
				display: block;
				font-weight: 200;
				color: #999;
				text-decoration: none;
				white-space: nowrap;
  				overflow: hidden;
  				text-overflow: ellipsis;
  				width: calc(100% - 55px);

				img {
					position: absolute;
					right: 10px;
					height: 26px;
					width: 26px;
				}
			}
			span.explicit {
				position: absolute;
				margin-top: 5px; 
				right: 45px;
				display: inline-block;
				border: 1px solid #666;
				padding-right:2px;
				padding-left:2px;
				font-size: 9px;
				text-transform: uppercase;
			}
		}
	}
}

#playlist {
	div {
		text-align: left;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 0px 12px 8px 12px;
		border-bottom: 1px solid $border-grey;
		ul {
			display: inline-block;
			float: right;
			li {
				display: inline-block;
				padding: 1px 3px 1px 10px;
				font-size: 1.2em;
				&.active {
					color: $spotipi-green;
				}
			}
		}
	}
}

form {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-align: center;
	padding: 10px;
	border: none;

	p {
		padding: 4px 0px 4px 0px;

		&.sub {
			padding-top: 0px;
			margin-top:0px; 
			font-size: 0.8em;
			color: $border-grey;
		}
	}

	fieldset {
		border: none;
		padding: 0px;
	}

	input[type="text"],
	input[type="password"] {
		position: relative;
		-webkit-box-sizing: border-box;
		padding: 19px;
		height: 20px;
		width: 100%;
		border-radius: 20px;
		border:1px solid #fff;;
		outline: none;
		margin: 7px 0px 15px 0px;
		font-size: 0.80em;

		// input, input:before, input:after {
		// 	-webkit-user-select: initial;
		// 	-khtml-user-select: initial;
		// 	-moz-user-select: initial;
		// 	-ms-user-select: initial;
		// 	user-select: initial;
		// } 

		&.error {
			@include placeholderText($error-red);
			border: 1px solid red;
			background-color: lighten($error-red, 70%);
		}
	}
}

ul.controls {
	left: 0px;
	position: absolute;
	height: 55px;
	line-height: 70px;
	bottom: 0px;
	background-color: #000;
	width: 100%;

	li {
		display: inline-block;
		text-align: center;
		width: 25%;
		float: left;
		&.middle {
			width: 50%;
		}
		
		a {
			color: #fff;
			text-decoration: none;
			display: inline-block;
			width: 100%;
			height: 55px;
			font-size: 27px;
			&.disabled {
				opacity: 0.3;
			}
		}

		.stop, 
		.play {
			color: #fff;
		}
	}

	&.disabled {
		li {
			opacity: 0.3;
			a{
				cursor: not-allowed;
			}	
		}
		
	}
}

.floater {
	position: absolute;
	width: 100%;
	top: 100%;
	left:0px;
	right:0px;
	transition: bottom 0.15s linear, top 0.15s linear;
	z-index: 120;
	background-color: rgba(228, 228, 228, 1);
	height: auto;
	box-sizing: border-box;
	padding: 13px;
	border-top: 2px solid $spotipi-green;

	&.active {
		top: 50%;

		&.btn0 {
			top: 100%;
		}

		&.btn1 {
			top: 80%;
		}

		&.btn2 {
			top: auto;
			bottom: 0px; 
		}
	}

	span.close {
		display: inline-block;
		position: absolute;
		right: 3px;
		color: #333;
		font-size: 18pt;
	}

	ul {
		padding:0px;
		margin: 37px 0px 10px 0px;

		li {
			box-sizing: border-box;
			list-style-type: none;
			background-color: #333;
			width: 100%;
			display: block;
			padding:10px;
			border: 1px solid #666;
			margin: 0px 0px 10px 0px;
			color: #fff;
			border-radius:24px;
			text-align: center;
			&:last-child {
				margin-bottom: 0px;
			}

			a {
				text-transform: uppercase;
				color: inherit;
				padding:0px;
			}
		}
	}
}

input {
	position: relative;
	padding:10px;
	width: 300px;
	display: block;
}

#scrubber {
	position: absolute;
	width: 100%;
	bottom: 55px;
	height: 35px;
	background-color: rgba(0, 0, 0, 0.65);
	transition: opacity 0.2s linear;

	span {
		position: relative;
		margin: 13px;
		display: block;
		height: 10px;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.3);

		&:before {
			content: "";
			display: inline-block;
			background-color: $spotipi-green;
			position: absolute;
			left: -5px;
			top: -5px;
			height: 20px;
			width: 20px;
			border-radius: 10px;
			transition: right 0.1s ease-in-out;
		}

		&.progress0:before {
			left: -5px; 
			right: auto;
		}

		&.progress100:before {
			left: auto; 
			right: 0%;
		}

		@each $size in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
	        &.progress#{$size}:before {
	        	left: auto;
	        	right: calc(#{100-$size}% - 10px);
	        }
	    }
	}

	&.hidden {
		opacity: 0;
	}
}


.alert {

	display:block;
	position: absolute;
	width:100%;
	height:100%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index:100;
	top: 0px;
	left: 0px;

	.alert-controls {
		box-sizing: border-box;
		position:absolute;
		width: 80%;
		padding: 8px 18px;
		left: 0;
		right: 0;
		top: 35%;
		margin: 0 auto;
		z-index: 200;
		background-color: #333;
		border: 1px solid darken(#999, 30%);
		border-top: 4px solid $spotipi-green;

		.error & {
			border-top-color: $error-red;
		}

		span {
			float: right;
			margin: 10px -10px;
			font-size: 17pt;
		}

		p {
			padding-bottom: 5px;
			text-shadow: none;
			color: #fff;
		}

		button {
			display: block;
			margin: 10px auto 10px auto;
			width: 100%;
		}
	}

	&.error {
		.alert-controls {
			border-top-color: lighten(#780000, 20%);
		}
	}
}



