/* Variables */
/**
 * Styles the placeholder text colour using vendor prefixes
 **/
/* line 33, ../sass/app.scss */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 41, ../sass/app.scss */
a, button {
  cursor: pointer;
}

/* line 45, ../sass/app.scss */
body {
  padding: 0px;
  margin: 0px;
  background-color: #333333;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

/* line 55, ../sass/app.scss */
header {
  position: relative;
  text-shadow: 1px 1px 0px black;
}
/* line 59, ../sass/app.scss */
header h1 {
  margin: 0px;
  padding: 14px 0px 0px 12px;
  border-top: 3px solid spotipi-green;
  text-align: left;
  font-size: 28px;
}
/* line 65, ../sass/app.scss */
header h1 span {
  color: #84bd00;
  font-style: italic;
}
/* line 71, ../sass/app.scss */
header.disabled h1, header.disabled a {
  opacity: 0.3;
}
/* line 76, ../sass/app.scss */
header a {
  font-size: 25px;
  position: absolute;
  top: 22px;
  right: 55px;
}
/* line 81, ../sass/app.scss */
header a:last-child {
  left: auto;
  right: 13px;
}
/* line 85, ../sass/app.scss */
header a.disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}
/* line 91, ../sass/app.scss */
header a.rooms {
  position: absolute;
  width: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  font-size: 0.9em;
  text-align: center;
  letter-spacing: 0.5px;
}
/* line 101, ../sass/app.scss */
header a.rooms span {
  padding: 0px;
  display: inline-block;
  font-size: 0.6em;
}

/* line 109, ../sass/app.scss */
button {
  outline: none;
  border: none;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}
/* line 118, ../sass/app.scss */
button span {
  display: inline-block;
  margin: 0px 8px 0px 0px;
}
/* line 122, ../sass/app.scss */
button.standard {
  margin: 0px auto 0px auto;
  width: 100%;
  background-color: #84bd00;
  color: white;
}
/* line 128, ../sass/app.scss */
button.disabled {
  background-color: #636363;
  opacity: 0.8;
}
/* line 131, ../sass/app.scss */
button.disabled span {
  display: none;
}

/* line 137, ../sass/app.scss */
#container {
  margin: 0px auto 0px auto;
  overflow: none;
}

/* line 142, ../sass/app.scss */
#rooms {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
  width: 100%;
}
/* line 147, ../sass/app.scss */
#rooms ul {
  margin-bottom: 20px;
}
/* line 149, ../sass/app.scss */
#rooms ul li {
  list-style-type: none;
  border: 3px solid #636363;
  min-height: 70px;
  padding: 6px;
  margin-bottom: 10px;
}
/* line 155, ../sass/app.scss */
#rooms ul li section {
  padding: 0px;
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 50px;
  background-position: center right;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-opacity: 0.2;
  padding: 0px;
}
/* line 165, ../sass/app.scss */
#rooms ul li section p {
  padding: 0px;
  margin: 0px;
}
/* line 169, ../sass/app.scss */
#rooms ul li section.paused {
  opacity: 0.4;
}
/* line 173, ../sass/app.scss */
#rooms ul li label {
  font-style: italic;
}
/* line 176, ../sass/app.scss */
#rooms ul li span {
  float: right;
  display: inline-block;
  margin-left: 10px;
}

/* line 185, ../sass/app.scss */
#artwork {
  padding: 0px;
  position: absolute;
  top: 65px;
  bottom: 55px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 196, ../sass/app.scss */
#artwork h2,
#artwork h3 {
  margin: 10px 10px 0px 10px;
  padding: 8px;
  display: table;
  color: #fff;
}
/* line 203, ../sass/app.scss */
#artwork h2 {
  font-size: 35px;
  background-color: #84bd00;
}
/* line 208, ../sass/app.scss */
#artwork h3 {
  clear: both;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 0px;
  font-weight: 200;
  font-style: italic;
}
/* line 217, ../sass/app.scss */
#artwork span {
  display: none;
}
/* line 221, ../sass/app.scss */
#artwork.disabled {
  background-color: #999;
  background-image: none;
}
/* line 225, ../sass/app.scss */
#artwork.disabled h2, #artwork.disabled h3 {
  display: none;
}
/* line 229, ../sass/app.scss */
#artwork.disabled span {
  position: relative;
  height: 100%;
  color: #666;
  text-align: center;
  text-shadow: 1px 1px 0px #ddd;
  width: 100%;
  font-size: 14em;
  padding-left: 30px;
  display: block;
  box-sizing: border-box;
}
/* line 241, ../sass/app.scss */
#artwork.disabled span:before {
  height: auto;
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

/* line 251, ../sass/app.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 256, ../sass/app.scss */
.modal {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #333;
  left: 0px;
  transition: top 0.2s ease-in-out;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 268, ../sass/app.scss */
.modal.hidden {
  top: 100%;
}

/* line 274, ../sass/app.scss */
#playlist,
#search {
  display: block;
  text-align: center;
}
/* line 278, ../sass/app.scss */
#playlist ul:not(.no-border) li,
#search ul:not(.no-border) li {
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 11px;
  list-style-type: none;
  margin: 0px;
  border-bottom: 1px solid #636363;
}
/* line 286, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle,
#search ul:not(.no-border) li.subtitle {
  color: #fff;
  font-weight: 400;
}
/* line 289, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle:not(.disabled),
#search ul:not(.no-border) li.subtitle:not(.disabled) {
  border-bottom-color: #84bd00;
}
/* line 292, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle:before,
#search ul:not(.no-border) li.subtitle:before {
  display: inline-block;
  position: absolute;
  right: 12px;
}
/* line 298, ../sass/app.scss */
#playlist ul:not(.no-border) li.disabled,
#search ul:not(.no-border) li.disabled {
  color: #666;
}
/* line 300, ../sass/app.scss */
#playlist ul:not(.no-border) li.disabled:after,
#search ul:not(.no-border) li.disabled:after {
  float: right;
  content: "No results";
  padding-right: 22px;
  opacity: 0.7;
}
/* line 306, ../sass/app.scss */
#playlist ul:not(.no-border) li.disabled.subtitle:before,
#search ul:not(.no-border) li.disabled.subtitle:before {
  display: none;
}
/* line 310, ../sass/app.scss */
#playlist ul:not(.no-border) li a,
#search ul:not(.no-border) li a {
  display: block;
  font-weight: 200;
  color: #999;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 55px);
}
/* line 320, ../sass/app.scss */
#playlist ul:not(.no-border) li a img,
#search ul:not(.no-border) li a img {
  position: absolute;
  right: 10px;
  height: 26px;
  width: 26px;
}
/* line 327, ../sass/app.scss */
#playlist ul:not(.no-border) li span.explicit,
#search ul:not(.no-border) li span.explicit {
  position: absolute;
  margin-top: 5px;
  right: 45px;
  display: inline-block;
  border: 1px solid #666;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 9px;
  text-transform: uppercase;
}

/* line 343, ../sass/app.scss */
#playlist div {
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px 12px 8px 12px;
  border-bottom: 1px solid #636363;
}
/* line 349, ../sass/app.scss */
#playlist div ul {
  display: inline-block;
  float: right;
}
/* line 352, ../sass/app.scss */
#playlist div ul li {
  display: inline-block;
  padding: 1px 3px 1px 10px;
  font-size: 1.2em;
}
/* line 356, ../sass/app.scss */
#playlist div ul li.active {
  color: #84bd00;
}

/* line 364, ../sass/app.scss */
form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 10px;
  border: none;
}
/* line 372, ../sass/app.scss */
form p {
  padding: 4px 0px 4px 0px;
}
/* line 375, ../sass/app.scss */
form p.sub {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 0.8em;
  color: #636363;
}
/* line 383, ../sass/app.scss */
form fieldset {
  border: none;
  padding: 0px;
}
/* line 389, ../sass/app.scss */
form input[type="textfield"],
form input[type="password"] {
  position: relative;
  -webkit-box-sizing: border-box;
  padding: 19px;
  height: 20px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #fff;
  outline: none;
  margin: 7px 0px 15px 0px;
  font-size: 0.9em;
}
/* line 401, ../sass/app.scss */
form input[type="textfield"].error,
form input[type="password"].error {
  border: 1px solid red;
  background-color: #ffdede;
}
/* line 19, ../sass/app.scss */
form input[type="textfield"].error::-webkit-input-placeholder,
form input[type="password"].error::-webkit-input-placeholder {
  color: #f80000;
}
/* line 22, ../sass/app.scss */
form input[type="textfield"].error:-moz-placeholder,
form input[type="password"].error:-moz-placeholder {
  color: #f80000;
}
/* line 25, ../sass/app.scss */
form input[type="textfield"].error::-moz-placeholder,
form input[type="password"].error::-moz-placeholder {
  color: #f80000;
}
/* line 28, ../sass/app.scss */
form input[type="textfield"].error:-ms-input-placeholder,
form input[type="password"].error:-ms-input-placeholder {
  color: #f80000;
}

/* line 409, ../sass/app.scss */
ul.controls {
  left: 0px;
  position: absolute;
  height: 55px;
  line-height: 70px;
  bottom: 0px;
  background-color: #000;
  width: 100%;
}
/* line 418, ../sass/app.scss */
ul.controls li {
  display: inline-block;
  text-align: center;
  width: 25%;
  float: left;
}
/* line 423, ../sass/app.scss */
ul.controls li.middle {
  width: 50%;
}
/* line 427, ../sass/app.scss */
ul.controls li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 55px;
  font-size: 27px;
}
/* line 437, ../sass/app.scss */
ul.controls li .stop,
ul.controls li .play {
  color: #fff;
}
/* line 443, ../sass/app.scss */
ul.controls.disabled li {
  opacity: 0.3;
}
/* line 445, ../sass/app.scss */
ul.controls.disabled li a {
  cursor: not-allowed;
}

/* line 453, ../sass/app.scss */
.floater {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  right: 0px;
  transition: bottom 0.15s linear, top 0.15s linear;
  z-index: 120;
  background-color: #e4e4e4;
  height: auto;
  box-sizing: border-box;
  padding: 13px;
  border-top: 2px solid #84bd00;
}
/* line 467, ../sass/app.scss */
.floater.active {
  top: 50%;
}
/* line 470, ../sass/app.scss */
.floater.active.btn0 {
  top: 100%;
}
/* line 474, ../sass/app.scss */
.floater.active.btn1 {
  top: 80%;
}
/* line 478, ../sass/app.scss */
.floater.active.btn2 {
  top: auto;
  bottom: 0px;
}
/* line 484, ../sass/app.scss */
.floater span.close {
  display: inline-block;
  position: absolute;
  right: 3px;
  color: #333;
  font-size: 18pt;
}
/* line 492, ../sass/app.scss */
.floater ul {
  padding: 0px;
  margin: 37px 0px 10px 0px;
}
/* line 496, ../sass/app.scss */
.floater ul li {
  box-sizing: border-box;
  list-style-type: none;
  background-color: #333;
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #666;
  margin: 0px 0px 10px 0px;
  color: #fff;
  border-radius: 24px;
  text-align: center;
}
/* line 508, ../sass/app.scss */
.floater ul li:last-child {
  margin-bottom: 0px;
}
/* line 512, ../sass/app.scss */
.floater ul li a {
  text-transform: uppercase;
  color: inherit;
  padding: 0px;
}

/* line 521, ../sass/app.scss */
input {
  position: relative;
  padding: 10px;
  width: 300px;
  display: block;
}

/* line 528, ../sass/app.scss */
#scrubber {
  position: absolute;
  width: 100%;
  bottom: 55px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.65);
  transition: opacity 0.2s linear;
}
/* line 536, ../sass/app.scss */
#scrubber span {
  position: relative;
  margin: 13px;
  display: block;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.3);
}
/* line 545, ../sass/app.scss */
#scrubber span:before {
  content: "";
  display: inline-block;
  background-color: #84bd00;
  position: absolute;
  left: -5px;
  top: -5px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  transition: right 0.1s ease-in-out;
}
/* line 558, ../sass/app.scss */
#scrubber span.progress0:before {
  left: -5px;
  right: auto;
}
/* line 563, ../sass/app.scss */
#scrubber span.progress100:before {
  left: auto;
  right: 0%;
}
/* line 569, ../sass/app.scss */
#scrubber span.progress10:before {
  left: auto;
  right: calc(90% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress20:before {
  left: auto;
  right: calc(80% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress30:before {
  left: auto;
  right: calc(70% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress40:before {
  left: auto;
  right: calc(60% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress50:before {
  left: auto;
  right: calc(50% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress60:before {
  left: auto;
  right: calc(40% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress70:before {
  left: auto;
  right: calc(30% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress80:before {
  left: auto;
  right: calc(20% - 10px);
}
/* line 569, ../sass/app.scss */
#scrubber span.progress90:before {
  left: auto;
  right: calc(10% - 10px);
}
/* line 576, ../sass/app.scss */
#scrubber.hidden {
  opacity: 0;
}

/* line 582, ../sass/app.scss */
.alert {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  top: 0px;
  left: 0px;
}
/* line 593, ../sass/app.scss */
.alert .alert-controls {
  box-sizing: border-box;
  position: absolute;
  width: 80%;
  padding: 8px 18px;
  left: 0;
  right: 0;
  top: 35%;
  margin: 0 auto;
  z-index: 200;
  background-color: #333;
  border: 1px solid #4d4d4d;
  border-top: 4px solid #84bd00;
}
/* line 607, ../sass/app.scss */
.error .alert .alert-controls {
  border-top-color: #780000;
}
/* line 611, ../sass/app.scss */
.alert .alert-controls span {
  float: right;
  margin: 10px -10px;
  font-size: 17pt;
}
/* line 617, ../sass/app.scss */
.alert .alert-controls p {
  padding-bottom: 5px;
  text-shadow: none;
  color: #fff;
}
/* line 623, ../sass/app.scss */
.alert .alert-controls button {
  display: block;
  margin: 10px auto 10px auto;
  width: 100%;
}
/* line 631, ../sass/app.scss */
.alert.error .alert-controls {
  border-top-color: #de0000;
}
