/* Variables */
/* line 11, ../sass/app.scss */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 19, ../sass/app.scss */
a, button {
  cursor: pointer;
}

/* line 23, ../sass/app.scss */
body {
  padding: 0px;
  margin: 0px;
  background-color: #333333;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

/* line 33, ../sass/app.scss */
header {
  position: relative;
  text-shadow: 1px 1px 0px black;
}
/* line 37, ../sass/app.scss */
header h1 {
  margin: 0px;
  padding: 14px 0px 0px 12px;
  border-top: 3px solid spotipi-green;
  text-align: left;
  font-size: 28px;
}
/* line 43, ../sass/app.scss */
header h1 span {
  color: #84bd00;
  font-style: italic;
}
/* line 49, ../sass/app.scss */
header.disabled h1, header.disabled a {
  opacity: 0.3;
}
/* line 54, ../sass/app.scss */
header a {
  font-size: 25px;
  position: absolute;
  top: 22px;
  right: 55px;
}
/* line 59, ../sass/app.scss */
header a:last-child {
  left: auto;
  right: 13px;
}
/* line 65, ../sass/app.scss */
header a.rooms {
  position: absolute;
  width: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  font-size: 0.9em;
  text-align: center;
  letter-spacing: 0.5px;
}
/* line 75, ../sass/app.scss */
header a.rooms span {
  padding: 0px;
  display: inline-block;
  font-size: 0.6em;
}

/* line 83, ../sass/app.scss */
button {
  outline: none;
  border: none;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}
/* line 92, ../sass/app.scss */
button span {
  display: inline-block;
  margin: 0px 8px 0px 0px;
}
/* line 96, ../sass/app.scss */
button.standard {
  margin: 0px auto 0px auto;
  width: 100%;
  background-color: #84bd00;
  color: white;
}

/* line 104, ../sass/app.scss */
#container {
  margin: 0px auto 0px auto;
  overflow: none;
}

/* line 109, ../sass/app.scss */
#rooms {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
  width: 100%;
}
/* line 114, ../sass/app.scss */
#rooms ul {
  margin-bottom: 20px;
}
/* line 116, ../sass/app.scss */
#rooms ul li {
  list-style-type: none;
  border: 3px solid #636363;
  min-height: 70px;
  padding: 6px;
  margin-bottom: 10px;
}
/* line 122, ../sass/app.scss */
#rooms ul li section {
  padding: 0px;
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 50px;
  background-position: center right;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-opacity: 0.2;
  padding: 0px;
}
/* line 132, ../sass/app.scss */
#rooms ul li section p {
  padding: 0px;
  margin: 0px;
}
/* line 136, ../sass/app.scss */
#rooms ul li section.paused {
  opacity: 0.4;
}
/* line 140, ../sass/app.scss */
#rooms ul li label {
  font-style: italic;
}
/* line 143, ../sass/app.scss */
#rooms ul li span {
  float: right;
  display: inline-block;
  margin-left: 10px;
}

/* line 152, ../sass/app.scss */
#artwork {
  padding: 0px;
  position: absolute;
  top: 65px;
  bottom: 55px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 163, ../sass/app.scss */
#artwork h2,
#artwork h3 {
  margin: 10px 10px 0px 10px;
  padding: 8px;
  display: table;
  color: #fff;
}
/* line 170, ../sass/app.scss */
#artwork h2 {
  font-size: 35px;
  background-color: #84bd00;
}
/* line 175, ../sass/app.scss */
#artwork h3 {
  clear: both;
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 0px;
  font-weight: 200;
  font-style: italic;
}
/* line 184, ../sass/app.scss */
#artwork span {
  display: none;
}
/* line 188, ../sass/app.scss */
#artwork.disabled {
  background-color: #999;
  background-image: none;
}
/* line 192, ../sass/app.scss */
#artwork.disabled h2, #artwork.disabled h3 {
  display: none;
}
/* line 196, ../sass/app.scss */
#artwork.disabled span {
  position: absolute;
  color: #666;
  text-align: center;
  text-shadow: 1px 1px 0px #ddd;
  width: 100%;
  padding-top: 25%;
  font-size: 14em;
  display: inline-block;
}

/* line 209, ../sass/app.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 214, ../sass/app.scss */
.modal {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #333;
  left: 0px;
  transition: top 0.2s ease-in-out;
  z-index: 100;
  overflow-y: scroll;
}
/* line 225, ../sass/app.scss */
.modal.hidden {
  top: 100%;
}

/* line 231, ../sass/app.scss */
#playlist,
#search {
  display: block;
  text-align: center;
}
/* line 235, ../sass/app.scss */
#playlist ul:not(.no-border) li,
#search ul:not(.no-border) li {
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 11px;
  list-style-type: none;
  margin: 0px;
  border-bottom: 1px solid #636363;
}
/* line 243, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle,
#search ul:not(.no-border) li.subtitle {
  color: #fff;
  font-weight: 400;
}
/* line 246, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle:not(.disabled),
#search ul:not(.no-border) li.subtitle:not(.disabled) {
  border-bottom-color: #84bd00;
}
/* line 249, ../sass/app.scss */
#playlist ul:not(.no-border) li.subtitle:before,
#search ul:not(.no-border) li.subtitle:before {
  display: inline-block;
  position: absolute;
  right: 12px;
}
/* line 255, ../sass/app.scss */
#playlist ul:not(.no-border) li.disabled,
#search ul:not(.no-border) li.disabled {
  color: #666;
}
/* line 257, ../sass/app.scss */
#playlist ul:not(.no-border) li.disabled.subtitle:before,
#search ul:not(.no-border) li.disabled.subtitle:before {
  display: none;
}
/* line 261, ../sass/app.scss */
#playlist ul:not(.no-border) li a,
#search ul:not(.no-border) li a {
  display: block;
  font-weight: 200;
  color: #999;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 55px);
}
/* line 271, ../sass/app.scss */
#playlist ul:not(.no-border) li a img,
#search ul:not(.no-border) li a img {
  position: absolute;
  right: 10px;
  height: 26px;
  width: 26px;
}

/* line 283, ../sass/app.scss */
#playlist div {
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px 12px 8px 12px;
  border-bottom: 1px solid #636363;
}
/* line 289, ../sass/app.scss */
#playlist div ul {
  display: inline-block;
  float: right;
}
/* line 292, ../sass/app.scss */
#playlist div ul li {
  display: inline-block;
  padding: 1px 3px 1px 10px;
  font-size: 1.2em;
}
/* line 296, ../sass/app.scss */
#playlist div ul li.active {
  color: #84bd00;
}

/* line 304, ../sass/app.scss */
form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 311, ../sass/app.scss */
form input {
  position: relative;
  -webkit-box-sizing: border-box;
  padding: 15px;
  height: 20px;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* line 323, ../sass/app.scss */
ul.controls {
  left: 0px;
  position: absolute;
  height: 55px;
  line-height: 70px;
  bottom: 0px;
  background-color: #000;
  width: 100%;
}
/* line 332, ../sass/app.scss */
ul.controls li {
  display: inline-block;
  text-align: center;
  width: 25%;
  float: left;
}
/* line 337, ../sass/app.scss */
ul.controls li.middle {
  width: 50%;
}
/* line 341, ../sass/app.scss */
ul.controls li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 55px;
  font-size: 27px;
}
/* line 351, ../sass/app.scss */
ul.controls li .stop,
ul.controls li .play {
  color: #fff;
}
/* line 356, ../sass/app.scss */
ul.controls.disabled {
  opacity: 0.5;
}

/* line 361, ../sass/app.scss */
.floater {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  right: 0px;
  transition: top 0.15s linear;
  z-index: 120;
  background-color: #e4e4e4;
  height: 50%;
  box-sizing: border-box;
  padding: 13px;
  border-top: 2px solid #84bd00;
}
/* line 375, ../sass/app.scss */
.floater.active {
  top: 50%;
}
/* line 378, ../sass/app.scss */
.floater.active.btn0 {
  top: 100%;
}
/* line 382, ../sass/app.scss */
.floater.active.btn1 {
  top: 80%;
}
/* line 386, ../sass/app.scss */
.floater.active.btn2 {
  top: 74%;
}
/* line 391, ../sass/app.scss */
.floater span.close {
  display: inline-block;
  position: absolute;
  right: 3px;
  color: #333;
  font-size: 18pt;
}
/* line 399, ../sass/app.scss */
.floater ul {
  padding: 0px;
  margin: 37px 0px;
}
/* line 403, ../sass/app.scss */
.floater ul li {
  box-sizing: border-box;
  list-style-type: none;
  background-color: #333;
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #666;
  margin: 0px 0px 10px 0px;
  color: #fff;
  border-radius: 24px;
  text-align: center;
}
/* line 415, ../sass/app.scss */
.floater ul li:last-child {
  margin-bottom: 0px;
}
/* line 419, ../sass/app.scss */
.floater ul li a {
  text-transform: uppercase;
  color: inherit;
  padding: 0px;
}

/* line 428, ../sass/app.scss */
input {
  position: relative;
  padding: 10px;
  width: 300px;
  display: block;
}

/* line 436, ../sass/app.scss */
#scrubber {
  position: absolute;
  width: 100%;
  bottom: 55px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.65);
  transition: opacity 0.2s linear;
}
/* line 444, ../sass/app.scss */
#scrubber span {
  position: relative;
  margin: 13px;
  display: block;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.3);
}
/* line 453, ../sass/app.scss */
#scrubber span:before {
  content: "";
  display: inline-block;
  background-color: #84bd00;
  position: absolute;
  left: -5px;
  top: -5px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  transition: right 0.1s ease-in-out;
}
/* line 466, ../sass/app.scss */
#scrubber span.progress0:before {
  left: -5px;
  right: auto;
}
/* line 471, ../sass/app.scss */
#scrubber span.progress100:before {
  left: auto;
  right: 0%;
}
/* line 477, ../sass/app.scss */
#scrubber span.progress10:before {
  left: auto;
  right: calc(90% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress20:before {
  left: auto;
  right: calc(80% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress30:before {
  left: auto;
  right: calc(70% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress40:before {
  left: auto;
  right: calc(60% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress50:before {
  left: auto;
  right: calc(50% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress60:before {
  left: auto;
  right: calc(40% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress70:before {
  left: auto;
  right: calc(30% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress80:before {
  left: auto;
  right: calc(20% - 10px);
}
/* line 477, ../sass/app.scss */
#scrubber span.progress90:before {
  left: auto;
  right: calc(10% - 10px);
}
/* line 484, ../sass/app.scss */
#scrubber.hidden {
  opacity: 0;
}
