<li class="artist-expanded artist-{{artistId}}">
	<ul>
		<li class="type">ALBUMS</li>
		{{^if types.album.length}}
			<li class="subtitle">No albums found</li>
		{{/if}}
		{{#types.album}}
			<li>
				<a class="album" data-id="{{id}}" data-name={{name}}>
					<div class="album-art">
						<img src="{{images.1.url}}" />
					</div>
					<span class="title">{{name}}</span>
				</a>
			</li>
		{{/types.album}}
	</ul>
	<!-- singles can have multiple tracks, so treat as an album -->
	<ul>
		<li class="type">SINGLES</li>
		{{^if types.single.length}}
			<li class="subtitle">No singles found</li>
		{{/if}}
		{{#types.single}}
			<li>
				<a class="album" data-id="{{id}}">
					<div class="album-art">
						<img src="{{images.1.url}}" />
					</div>
					<span class="title">{{name}}</span>
				</a>
			</li>
		{{/types.single}}
	</ul>
</li>