<div>
	{{room.name}} / Tracks: {{playlist.length}}
	<ul class="no-border playlist-options">
		<li class="control-shuffle icon-shuffle{{#if room.shuffle}} active{{/if}}"></li>
		<li class="control-loop icon-loop{{#if room.loop}} active{{/if}}"></li>
	</ul>
</div>
<ul class="scrollable">
	{{#if playlist.length}}
		{{#each playlist}}
			<li>
				<a class="track" href="javascript:void(0);" data-uri="{{uri}}">{{artist}} / {{track}}</a>
			</li>
		{{/each}}
	{{else}}
		<li class="disabled">No tracks in playlist.</li>
	{{/if}}
</ul>