<form id="form-user-login" method="post">
	<fieldset>
		<p>Please supply your Spotify username and password.</p>
		<p class="sub">App-specific passwords will be supported in later versions.</p>
		<label for="username">
			<input type="text" name="username" id="username" placeholder="Spotify Username" />
		</label>
		<label for="password">
			<input type="password" name="password" id="password" placeholder="Spotify Password" />
		</label>
		<button class="standard" id="save-credentials">
			<span class="icon-spotify"></span>SAVE DETAILS
		</button>
	</fieldset>
</form>