<form>
	<fieldset>
		<input 	id="master-search" 
				type="text" 
				autocomplete="off" 
				placeholder="Search term or Spotify URI" 
				value="{{searchTerm}}" />
	</fieldset>
</form>
<ul class="scrollable">

	<!-- artists -->
	<li class="search-result result-artist subtitle icon-circle-down{{#unless artists.length}} disabled{{/unless}}">Artists {{#if artists.length}}({{artists.length}}){{/if}}</li>
	{{#each artists}}
		<li id="artist-{{id}}">
			<a class="artist" href="javascript:void(0);" data-id="{{id}}">
				{{name}}
				{{#if images.2.url}}<img src="{{images.2.url}}" />{{/if}}
			</a>
		</li>
	{{/each}}


	<!-- albums
	<li class="search-result result-album subtitle icon-circle-down{{#unless albums.length}} disabled{{/unless}}">Albums {{#if albums.length}}({{albums.length}}){{/if}}</li>
	{{#each albums}}
		<li>
			<a class="album" href="javascript:void(0);" data-uri="{{uri}}">
				{{artist-name}} / {{name}}
				<img src="https://d3rt1990lpmkn.cloudfront.net/cover/{{cover-small}}" />
			</a>
		</li>
	{{/each}} -->


	<!-- tracks -->
	<li class="search-result result-track subtitle icon-circle-down{{#unless tracks.length}} disabled{{/unless}}">Tracks {{#if tracks.length}}({{tracks.length}}){{/if}}</li>
	{{#each tracks}}
		<li>
			<a class="track" href="javascript:void(0);" data-uri="{{uri}}">
				{{artists.0.name}} / {{name}} {{#explicit}}<span class="explicit">EXPLICIT</span>{{/explicit}}
				<img src="{{album.images.2.url}}" />
			</a>
		</li>
	{{/each}}


	<!-- playlist -->
	<li class="search-result result-track subtitle icon-circle-down{{#unless playlists.length}} disabled{{/unless}}">Playlists {{#if playlist.length}}({{playlists.length}}){{/if}}</li>
	{{#each playlists}}
		<li>
			<a class="playlist" href="javascript:void(0);" data-id="{{id}}" data-user="{{owner.id}}">
				{{name}}
				<img src="{{images.0.url}}" />
			</a>
		</li>
	{{/each}}
</ul>